{{define "Pagination"}}
<nav aria-label="Pagination">
    <hr class="my-0"/>
    <ul class="pagination justify-content-center my-4">
        {{if or .PrevPage .NextPage}}
        {{if .PrevPage}}
            <li class="page-item"><a class="page-link" href="{{.PrevPage}}" tabindex="-1" aria-disabled="true">Prev</a></li>
        {{end}}
            <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{.Page}}</a>
            </li>
        {{if .NextPage}}
            <li class="page-item"><a class="page-link" href="{{.NextPage}}">Next</a></li>
        {{end}}
        {{end}}
    </ul>
</nav>
{{end}}