<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>{{.Meta.PageTitle}}</title>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/assets/default/styles.css" rel="stylesheet"/>
</head>
<body>
<!-- Responsive navbar-->
{{template "NavBar" .Meta}}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10">
            <h1 class="text-center ql-header">House of {{.Data.User.Name}}</h1>
            {{if .Meta.IsAuthorized}}
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-1">Change Name</h3></div>
                <div class="card-body">
                    <div class="card-body">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" name="name" type="name" placeholder="User Name"
                                       value="{{.Data.User.Name}}"/>
                                <label for="name">Name</label>
                            </div>
                            <div id="errName" class="text-bg-danger"></div>

                            <div class="mt-4 mb-0">
                                <div class="d-grid">
                                    <button onclick="updateUserName('{{.Data.User.ID}}')" class="btn btn-primary">Change Name</button>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="card-header"><h3 class="text-center font-weight-light my-1">Change Password</h3></div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" id="password" name="password"
                                   type="password" placeholder="Confirm password"/>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="new_password" name="new_password" type="password"
                                       placeholder="Create a password"/>
                                <label for="new_password">New Password</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" id="new_password_verification" name="new_password_verification"
                                       type="password" placeholder="Confirm Password"/>
                                <label for="new_password_verification">Confirm Password</label>
                            </div>
                        </div>
                    </div>
                    <div id="errPass" class="text-bg-danger"></div>
                    <div class="mt-4 mb-0">
                        <div class="d-grid">
                            <button onclick="updatePassword('{{.Meta.AuthedUser.ID}}')" class="btn btn-primary">Change Password</button>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
            <!-- Blog post-->
            <br><br>
            <h1 class="text-truncate ql-header">Publishes</h1>
            {{range .Data.Blogs}}
            <div class="card mb-4">
                <div class="card-body">
                    {{if .Image}} <a href="http://localhost:3000/blogs/{{.ID}}"><img class="card-img-top"
                                                                                     src="http://localhost:3000{{.Image}}"/></a>
                    {{end}}
                    <h2 class="card-title h4">{{.Title}}</h2>
                    <p class="card-text">{{.Summary}}</p>
                    <div class="small text-muted">{{.CreatedAt.Format "02/01/2006 15:04"}}</div>
                    <a class="btn btn-primary" href="http://localhost:3000/blogs/{{.ID}}">Read more →</a>
                </div>
            </div>
            {{end}}
            {{template "Pagination" .Meta.Pagination}}
        </div>
    </div>
</div>

<!-- Core theme JS-->
<script>
    function updateUserName(id) {
    const name = document.getElementById('name');
    const data = JSON.stringify({name: name.value, id: id})


    fetch(BaseURL+'/api/user' , {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json'
        },
        body: data
    }).then((response) => response).then(async response => {
        const errJson = await response.json()
        if (response.status !== 200){
            document.getElementById("errName").innerText = errJson
        }else {
            window.location.assign(BaseURL + '/login')
        }
    })
}

    function updatePassword(id) {
        const password = document.getElementById('password');
        const new_password = document.getElementById('new_password');
        const new_password_verification = document.getElementById('new_password_verification');
        const formData = new FormData();

        formData.append('password', password.value)
        formData.append('new_password', new_password.value)
        formData.append('new_password_verification', new_password_verification.value)

        const urlEncodedData = new URLSearchParams(formData).toString();

        fetch(BaseURL+'/api/user/password/' + id , {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
            },
            body: urlEncodedData
        }).then((response) => response ).then(async response => {
            const errJson = await response.json()
            if (response.status !== 200){
                document.getElementById("errPass").innerText = errJson
            }else {
                fetch(BaseURL + '/api/logout', {
                    method: 'POST'
                }).then((response) => {
                        window.location.assign(BaseURL + '/login')
                })
            }
        })
    }
</script>
<script src="/scripts/default/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
